.dashboard {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 1200px) {
        margin: 0px auto;
    }
}

.container {
    max-width: 1200px !important;
    padding-inline: 20px !important;
}

.btn-secondary {
    background: #6c757d !important;
    color: white;
}

.btn-view {
    background: #007bff;
    color: white;
}

.btn-manage {
    background: rgb(250, 193, 7) !important;
    color: black;
}

.btn.edit-target {
    display: inline-block !important;
    padding: 3px 6px !important;
    text-decoration: none;
    font-size: 11px;
}

.gap {
    margin: 5px;
}